#root div>nav>div>div>button {
  background-color: #fa8123;
  border-radius: 30px;
  min-width: 100px;
  box-shadow: 0px 0px 20px #f88130;
  padding: 7px 16px;
  font-weight: 600;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  display: block !important;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}