::-webkit-scrollbar-thumb {
    background: #f88130 !important;
}

/* ################### NAVIGATION ################### */

/* CONNECT BUTTON NAVBAR */
.cUfmuH {
	background-color: #f88130 !important;
	color: white !important;
}

/* SIGNED IN NAVBAR */
.dRFfaZ{
	color: #f88130 !important;
	border: 1px solid #f88130 !important;
}

/* SIDEBAR TEXT COLOR*/
.gcgqKm{
	color: white !important;
}

.kDyGRw, .cbGZOy{
	box-shadow: inset 4px 0px 0px #f88130 !important;
}

/* SVG ICONS */
.iAKbuO, .eYWIFz, .jdwIjG, .djswoZ, .jCFToF{
	fill: #f88130 !important;
}

/* NAVBAR ICON*/
.desktop-icon{
	/*display: none !important;*/
}

.jXjpYG, .cUEuyA{
	color: #f88130 !important;
}
/* ############################################## */



/*.bqzudG, .epPNpU{
	background: #27262C !important;
}

.ejwoA-D, .dsVPXa, .dhmtFH{
	color: white !important;
}*/


/* ################### MODALS ################### */

/* MODAL BACKGROUND */
.hrMCMo {
	background-color: #ffb380 !important;
}

/* ############################################## */



/* ################### Emotion Pools ################### */

.hQVbGt{
	background: linear-gradient(139.73deg,#f9d2b8 0%,#f79c5e 100%) !important;
}

.czdVae, .cQXDuK{
	color: #f88130 !important;
}

.eytYkF{
	background: #f88130 !important;
}

/* ############################################## */



/*.gDexvB .dsVPXa{
	color: white !important;
}*/

.gDexvB .ewojUi:first-child{
	color: white !important;
}

.gDexvB .lexbvn{
	color: white !important;
}

.gDexvB .hmRFeA:first-child{
	color: white !important;
}

.cKGDQN .ejwoA-D{
	color: white !important;
}



